/* Header 영역 스타일 */

header {
  position: fixed;
  width: 100%;
  z-index: 1001;
  height: 80px;
  background-color: transparent; /* 필요 시 배경색 추가 가능 */
}

header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 40px; /* 좌우 여백 */
}

header .inner .logo img {
  height: 28px;
  width: auto;
  transition: 0.2s;
  cursor: pointer;
}

header .inner .logo img:hover {
  transform: translateY(-2px);
}

header .inner .logo img:active {
  transform: translateY(10px);
}

header .menu {
  display: flex;
}

header .menu ul {
  display: flex;
  gap: 0 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

header .menu ul li {
  transition: 0.2s;
}

header .menu ul li a {
  transition: 0.2s all;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.2px;
  text-align: left;
  color: var(--gray--color);
  text-decoration: none;
}

header .menu ul li:hover {
  transform: translateY(-2px);
  
}

header .menu ul li:active {
  transform: translateY(10px);
}

header .menu ul li a:hover {
  color: var(--black--color);
  font-weight: 800;
}

header .menu ul li a:active {
  color: var(--mint--color);
}


/* 로그인 버튼 스타일 */
header .login button {
  padding: 9px 18px 11px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid var(--black--color);
  cursor: pointer;
  transition: 0.2s;
  color: var(--white--color);
  border-color: var(--black--color); 
  background-color: var(--black--color);
}

header .login button:hover {
  color: var(--black--color);
  border: 1px solid var(--mint--color);
  background: var(--mint--color);
}
