:root {
  --gray--color: #b8b8b8;
  --black--color: #25252a;
  --white--color: #fff;
  --mint--color: #4748FF;
  --red--color: #ff2929;
}

/* Reset, 기본 스타일 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body, h1, h2, h3, h4, h5, h6, figure, pre, dl, dd, blockquote, input[type="radio"], input[type="checkbox"] {
  margin: 0;
}

legend, fieldset, ul, ol {
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
}

body {
  line-height: 1;
}

main, figure, figcaption {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

a {
  text-decoration: none;
}

a:visited {
  color: #000;
}

fieldset {
  border: 0;
}

input, textarea, select, button {
  max-width: 100%;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

label {
  display: table;
}

input {
  -webkit-appearance: none;
}

input[type="text"], input[type="email"], input[type="password"], input[type="search"] {
  -webkit-appearance: none;
  outline: 0;
}

button {
  line-height: inherit;
  outline: 0;
  border: 0;
  padding: 0;
  background: none;
}

button:focus {
  outline: 0;
}

button::-moz-focus-inner {
  border: 0;
}


*, *::before, *::after {
  box-sizing: border-box;
  vertical-align: top;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  min-height: 100%;
  height: 100%;
  font-family: 'Pretendard', sans-serif;
  background-color: var(--white--color);
  color: var(--black--color);
}

/* Search Input X버튼 없애기 */
input[type=search]::-ms-clear,
input[type=search]::-ms-reveal,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* Date Input 스타일 초기화 */
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  padding: 0;
}

/* 기타 유틸리티 클래스 */
body.fixed {
  position: fixed;
  overflow: hidden;
  width: 100%;
}

.app {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.font_noto, .font_ne {
  font-family: 'Pretendard', sans-serif;
}

button.underline {
  padding: 0;
  border: 0;
  background: unset;
  border-bottom: 1px solid var(--black--color);
  font-family: 'Pretendard';
  font-size: 10px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: left;
}

span.icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  overflow: hidden;
}

span.icon img {
  vertical-align: top;
  width: 100%;
  height: auto;
}

/* 컬러 */
.mint {
  color: var(--mint--color);
}
