/*--- RESET/NORMALIZE ---*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* 인터넷익스플로러 */
  user-select: none;
  margin: 0;padding: 0;border: 0;font-size: 100%;vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
body, h1, h2, h3, h4, h5, h6, figure, pre, dl, dd, blockquote, input[type="radio"], input[type="checkbox"] {margin:0}
legend {padding:0}
fieldset, ul, ol {padding:0;margin:0}
ul, ol {list-style:none}
body {line-height:1}
main, figure, figcaption {display:block} /*--- <main> for IE 11 ---*/
img {max-width:100%;height:auto; display: inline-block;}
a {text-decoration:none}
a:visited { color: #000; }
fieldset {border:0}
input, textarea, select, button { max-width:100%;font-family:inherit;font-size:inherit;color:inherit}
label {display:table}
input { -webkit-appearance: none; }
/* select { -webkit-appearance: none; } */
input[type="text"], input[type="email"], input[type="password"], input[type="search"], {-webkit-appearance:none;outline: 0;} /*--- for Safari (add/remove types as needed) ---*/
button {line-height:inherit; outline: 0; border:0; padding: 0; background: none;}
button:focus { outline: 0; border:0; padding: 0; }
/* select { outline: 0; border:0; } */
button::-moz-focus-inner {border:0; } /*--- for Firefox ---*/
html {-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-size:1.25em; } /*--- optional base font size ---*/
* { box-sizing: border-box; vertical-align: top; }
html, body {  min-height: 100%; height: 100%; font-family: 'Pretendard', sans-serif; background-color: #fff; color: #25252a; }
/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input[type="date"]::-webkit-datetime-edit {  }
input[type="date"]::-webkit-datetime-edit-fields-wrapper {  }
input[type="date"]::-webkit-datetime-edit-text {  }
input[type="date"]::-webkit-datetime-edit-month-field {  }
input[type="date"]::-webkit-datetime-edit-day-field {  }
input[type="date"]::-webkit-datetime-edit-year-field {  }
input[type="date"]::-webkit-inner-spin-button { display: none; }
input[type="date"]::-webkit-calendar-picker-indicator { padding: 0; }

*, *::before, *::after {
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.fixed {position: fixed; overflow: hidden; width: 100%; }
.app { overflow-y: scroll; -webkit-overflow-scrolling: touch; }

.font_noto {font-family: 'Pretendard', sans-serif;}
.font_ne {font-family: 'Pretendard', sans-serif;}

button.underline { padding: 0; border: 0; background: unset; border-bottom: 1px solid #333; font-family: 'Pretendard'; font-size: 10px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: -0.5px;text-align: left; }
span.icon { display: inline-block; width: 18px; height: 18px; overflow: hidden; }
span.icon img { vertical-align: top; width: 100%; height: auto; }

/* reset// */

.mint { color: #00ff90; }

.inner { width: 100%;  max-width: 1140px; margin: 0 auto;  }
header { position: fixed; width:0; z-index:1001; width:100%; height:80px; }
header .inner { display:flex; justify-content:space-between; align-items:center; height:60px; }
header .inner .logo img { height: 28px; width: auto; }
header .menu {  }
header .menu ul { display:flex; gap: 0 40px }
header .menu ul li {  }
header .menu ul li a { transition: .2s all; font-size: 20px;font-weight: 800;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: -0.2px;text-align: left;color: #e9e9e9; }
header .menu ul li a:hover { color: #25252a; }

.sec_01 .img_group { margin-top:80px; }
.sec_01 .img_group .topimg { width:200px; margin: 0 auto; }
.sec_01 .img_group .botimg { width:267px; margin: 0 auto; }

.sec_02 .img_group { margin-top:50px; }
.sec_02 .img_group .topimg { width:204px; margin: 0 auto; }
.sec_02 .img_group .botimg { width:128px; margin: 20px auto 0; }


.swiper {
  width: 100%;
  height: 100%;
}

.swiper .scroll_down {  cursor: pointer; display: inline-block; width: 90px; position: fixed; z-index:1001; bottom: 30px; left:50%; transform:translateX(-50%); }
.swiper .scroll_down:active img { transform: scale(.9); transition: .2s all; }
.swiper .scroll_down img { transition: .2s all; }
.word { font-size: 62px;font-weight: 900;font-stretch: normal;font-style: normal;line-height: 1.35;letter-spacing: -1.55px;text-align: center; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
